@page
@{
    Layout = "_Layout";
}
<h2>TEST2</h2>

<button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
    aria-expanded="false" aria-controls="collapseExample" data-bs-parent="#collapseExample">
    Button with data-bs-target
</button>
<div class="collapse" id="collapseExample">
    <div class="card card-body">
        Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user
        activates the relevant trigger.
    </div>
</div>